<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Tidbits</span>
    <span class="spacer"></span>
    <button mat-icon-button class="search icon" aria-label="icon-button with search icon">
        <mat-icon>search</mat-icon>
    </button>
    <p>
        <mat-form-field appearance="outline" class="mat-form-field-wrapper">
            <mat-label>Search Tags</mat-label>
            <input matInput placeholder="e.g., 'lithium'">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
    </p>
</mat-toolbar>