<div class="sub-container">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let tidbit of tidbits()">
            <mat-expansion-panel-header>
                <mat-panel-title>{{ tidbit.title }}</mat-panel-title>
                <mat-panel-description>
                    <mat-chip-set aria-label="Fish selection">
                        <mat-chip>{{ tidbit.tags }}</mat-chip>
                    </mat-chip-set>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{ tidbit.content }}</p>
            <button mat-fab aria-label="Icon button with a delete icon" (click)="deleteTidbit(tidbit.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-expansion-panel>
    </mat-accordion>
</div>