<div class="sub-container">
    <app-tag-search-field></app-tag-search-field>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let tidbit of tidbits()">
            <mat-expansion-panel-header>
                <mat-panel-title class="mat-expansion-panel-header-title">
                    <div>
                        {{ tidbit.title }}
                    </div>
                </mat-panel-title>
                <mat-panel-description class="mat-expansion-panel-header-description">
                    <div>
                        <mat-chip-set aria-label="Tags" class="mdc-evolution-chip-set__chips">
                            <mat-chip *ngFor="let tag of tidbit.tags">{{ tag }}</mat-chip>
                        </mat-chip-set>
                    </div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- Pre-wrap is needed to maintain linebreaks in the content. -->
            <p style="white-space: pre-wrap;">{{ tidbit.content }}</p>
            <button mat-fab aria-label="Icon button with a delete icon" (click)="deleteTidbit(tidbit.id!)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-expansion-panel>
    </mat-accordion>
</div>