/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sub-container {
    width: 600px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

mat-form-field {
    width: 100%;
}

// Stops chips from wrapping when there are too many of them
.mdc-evolution-chip-set__chips {
    flex-wrap: nowrap !important;
}

// Adds ellipsis to the expansion panel title if too long
.mat-expansion-panel-header-title > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



